
@{
    ViewBag.Title = "CustomerOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Project-JS/Customer/CustomerOrder.js"></script>


<table id="tblCustomerOrder" border="1">
    <thead>
    <th>ID</th>
    <th>OrderDate</th>
    <th>DeliveryDate</th>
    <th>TransactionMode</th>
    <th>Amount</th>
    <th>Discount</th>
    <th>TotalAmount</th>
    <th></th>
    </thead>
    <tbody></tbody>

</table>

@*<div id="CategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" id="DetailCategory">

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CategoryDetail()" + class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>*@

