
@{
    ViewBag.Title = "CustomerListIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Customer/Customer.js"></script>

<table id="tblCustomer" border="2">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>MobileNo</th>
    <th>State</th>
    <th>City</th>
    <th>PinCode</th>
    <th>Address</th>
    <th></th>
    </thead>
    <tbody></tbody>
</table>